.card {
  border: 1px solid black;
  background-color: lavender;
  padding: 10px;
  position: relative;
}

.delBtn {
  border: none;
  background: none;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
}
.addToBasketButton{
  background:rgb(246, 246, 132);
  padding: 5px;
  border: 1px solid black;
  outline: none;
}